.side-bar
  .side-bar__user-name
    .top-items
      %p.top-items__name
        = current_user.name
      %ul.top-items__icons
        %li.top-items__icons--newgroup
        = link_to new_group_path(current_user), class: "top-items__icons--newgroup" do
          = icon('fas', 'edit')
        %li.top-items__icons--edituser
        = link_to edit_user_path(current_user), class: "top-items__icons--edituser" do
          = icon('fas', 'cog')

  .side-bar__groups-list
    - current_user.groups.each do |group|
      = link_to '#' do
        .group-list
          .group-list__group-name
            = group.name
          .group-list__post-message
            %p まだメッセージがありません
